ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.layout {
  display: grid;
}

.color-container {
  text-align: center;
  width: 90vw;
  margin-top: 10vh;
}

.hide-mobile {
  display: none;
}

.gray-container {
  display: grid;

}

#new-task-btn {
  grid-column: 1/3;
  cursor: pointer;
}

.add-btn {
  display: flex;
  justify-content: center;
}

mat-icon {
  transform: scale(2);
}


@media only screen and (max-width: 450px) {

  .layout {
    grid-template-rows: 31vh auto 64vh;
    grid-template-columns: auto;
  }
  .color-container {
    grid-row: 1;
    margin: 2vh 5vw;
  }

  .gray-container {
    grid-row: 3;
    text-align: center;
    background-color: #ebeef2;
    border-radius: 50px;
    margin-top: 2vh;
    overflow: scroll;
  }

  .form {
    grid-row: 2;
  }

}


@media only screen and (min-width: 451px) {

  .layout {
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr;
  }
  .color-container {
    position: relative;
    grid-row: 1/3;
    grid-column: 2;
    width: auto;
    height: 45vh;
    margin: 2vh 1vw;
  }

  .gray-container {
    position: relative;
    grid-row: 1/4;
    grid-column: 1;
    width: auto;
    grid-template-rows: auto auto;
    text-align: center;
    background-color: #ebeef2;
    border-radius: 50px;
    margin-top: 1vh;
    overflow: overlay;
  }

  .form {
    grid-row: 3;
    grid-column: 2;
  }
}
