<div id="task-form" >
  <form class="form-container" #task='ngForm'>
    <label for="title">Enter Title:</label><br>
    <input id="title" class="inc" ngModel #titleInput="ngModel" name="title" type="text" required>
    <mat-error *ngIf="titleInput.invalid && (titleInput.touched || isinvalid)" >title filed required!</mat-error><br>
    <label for="content">Enter Content:</label><br>
    <input id="content" class="inc" ngModel #contentInput="ngModel" name="content" type="text" required>
    <mat-error *ngIf="contentInput.invalid && (contentInput.touched || isinvalid)">content filed required</mat-error><br>
    <label for="color">Select Color : </label><br>
    <div class="dropdown">
      <input id="color" class="dropbtn inc" ngModel name="color" value="{{color}}" type="text">
      <div (click)='checkEvent($event)' class="dropdown-content ">
      <a >RED</a>
      <a >GREEN</a>
      <a >YELLOW</a>
      </div>
    </div>
  </form>
  <div class="form-footer">
    <mat-icon (click)='ChooseEvent($event,task)'>done_outline</mat-icon>
    <mat-icon (click)='ChooseEvent($event,task)'>close</mat-icon>
  </div>
</div>

