#task-form {
  position: relative;
  padding: .7em 2.5vw;
  border-top: 1px solid #2e688c;
  border-bottom: 2px solid #2e688c;
  border-radius: 30px;
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 1s;
  animation-name: animateleft;
  animation-duration: 1s;
}

.inc {
  font-size: 15px;
  border-radius: 15px;
}

label {
  color: black;
  font-size: 20px;
}

mat-icon {
  margin: .3em;
  position: relative;
  border-bottom: 3px solid black;
  cursor: pointer;
}

@-webkit-keyframes animateleft {
  from {left: -300px; opacity: 0}
  to {left: 0; opacity: 1;}
}

@keyframes animateleft {
  from {left: -300px; opacity: 0;}
  to {left: 0; opacity: 1;}
}


.dropbtn {
  color: black;
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid black;
  cursor: pointer;
}

.dropdown {
  position: inherit;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 15;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

mat-error {
  color: red;
}

.form-footer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  #task-form {
    width: 49vw;
    margin: 0 21vw 3vh 21vw;
  }
}

@media only screen and (min-width: 451px) {
  #task-form {
    width: auto;
    margin-left: 1vw;
    margin-top: 5vh;
    margin-right: 3vw;
    margin-bottom: 3vh;
  }

  .inc {
    width: 41vw;
  }
}
